@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font: #f6f6f6;
}

::-webkit-scrollbar-track {
    background: var(--bg);
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--bg);
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box !important;
    border: 2px solid transparent;
    border-radius: 6px;
    background: var(--footerbg);
}

::selection {
    background-color: rgb(29, 159, 207);
}

html {
    height: fit-content;
    width: fit-content;
    max-width: 800px;
    max-height: 600px;
    overflow: hidden;
}

body {
    opacity: 0;
    font-family: "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    background-color: #f7f7f7;
    color: var(--font) !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    margin: 0 !important;
    width: 360px;
    height: 600px;
    -webkit-font-smoothing: antialiased;
}

.body-bg {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    background-image: linear-gradient(40deg, #6c43ff, #9364fe);
    overflow: auto;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    box-sizing: revert;
}

a {
    color: var(--font);
}

a:hover {
    color: unset;
}

p {
    margin-block: 1rem;
    cursor: text;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loader {
    border: 2px solid #fff;
    border-radius: 50%;
    border-top: 2px solid #1168a2;
    width: 24px;
    height: 24px;
    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.tooltip {
    font-size: 12px;
}

.hidden {
    display: unset;
}

.disabled {
    filter: brightness(0.5);
    cursor: default !important;
}

.div-divider {
    height: 1px;
    background: #e5e5e5;
}

.modal-dialog {
    transition: unset !important;
}

.modal-content {
    position: absolute;
    top: 80;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    max-height: 285px !important;
    background: #fff;
    border-radius: 4px;
}

.modal-header {
    border-bottom: none;
    padding: 10px 14px;
}

.modal-header .btn-close {
    font-size: 24px;
    color: #000 !important;
    opacity: 0.7;
    cursor: pointer;
    background-image: unset;
    padding: 0;
    margin-right: 0px;
}

.modal-header .btn-close:hover {
    opacity: 1;
}

.modal-header .btn-close:active,
.modal-header .btn-close:focus {
    box-shadow: 0 0 0 0.1rem rgb(145 145 145);
}

.modal-title {
    color: #000;
    font-size: 14px !important;
}

.modal-date {
    font-size: 10px;
    margin: 0;
}

.modal-body {
    color: #000;
    padding: 0 14px;
}

.modal-body a {
    color: #45a9de;
}

.modal-body .added {
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #62c56e;
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.modal-body .changed {
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #cfa749;
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.modal-body .removed {
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #cd766f;
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.modal-body .label {
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #3698cc;
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.modal-body .added::after,
.modal-body .changed::after,
.modal-body .removed::after,
.modal-body .label::after {
    background-color: currentColor;
    content: "";
    height: 1px;
    flex: 1 1 auto;
    margin-left: 4px;
    opacity: .6;
}

.modal-footer {
    color: #000;
    line-height: 0;
    text-transform: uppercase;
    font-size: 10px;
    justify-content: center;
    border-top: none;
    background: #f5f5f5;
    cursor: pointer;
}

.modal-footer:hover {
    filter: brightness(0.9);
}

.modal-body::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

.modal-body::-webkit-scrollbar-track {
    background-color: transparent;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #6c43ff;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.modal-backdrop {
    z-index: -1;
    transition: unset;
}

.modal-dialog {
    z-index: 2;
}