<body>
    <div class="body-bg"></div>
    <div id="dashboardFadeIn" class="dashboard">
        <div class="header">
            <p class="title">Dashboard</p>
            <img id="userAvatar" src="../assets/images/default-user.png">
        </div>

        <button id="playQueueBtn" class="flex-container">
            <div class="container-content">
                <div class="container-title">
                    <span id="queueStatus">Play Queue</span>
                </div>
                <div class="container-body">
                    <span id="videoListCount">0 <i class="bi bi-camera-video-fill"></i></span>
                    <span id="watchCount">0 <i class="bi bi bi-eye-fill"></i></span>
                </div>
                <div class="container-footer">
                    <span id="expireCountdown">No video in the queue</span>
                </div>
            </div>
            <span class="play-button"><i class="bi bi bi-play-fill"></i></span>
        </button>

        <div class="sub-header">
            <span id="currentQueue">Current Queue (0)</span>
        </div>
        <div class="flex-container-alt">
            <div class="container-content">
                <div class="video-list">
                </div>
            </div>
        </div>
    </div>

    <div class="nav-panel">
        <button id="addBtn" class="main-btn"><i class="bi bi-plus"></i></button>
        <div class="sub-buttons">
            <div class="sub-buttons-l">
                <i id="dashboardNavBtn" class="bi bi bi-house-door nav-button active"></i>
                <i id="statisticsNavBtn" class="bi bi bi-bar-chart nav-button"></i>
            </div>
            <div class="sub-buttons-r">
                <i id="settingsNavBtn" class="bi bi bi-gear nav-button"></i>
                <i id="logoutNavBtn" class="bi bi bi-door-closed nav-button logout-btn"></i>
            </div>
        </div>
    </div>
</body>