<html>

<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../libs/bootstrap/bootstrap.min.css">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/statistics.css">
    <link rel="stylesheet" href="../css/settings.css">
</head>

<body>
    <div class="body-bg"></div>
    <page-content page="loader">
        <div class="loader-wrapper">
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </page-content>

    <!-- Scripts -->
    <script src="../libs/jquery/jquery.min.js"></script>
    <script src="../libs/popperjs/popper.min.js"></script>
    <script src="../libs/bootstrap/bootstrap.min.js"></script>
    <script src="../js/loader.js"></script>
    <script src="../js/login.js"></script>
    <script src="../js/dashboard.js"></script>
    <script src="../js/statistics.js"></script>
    <script src="../js/settings.js"></script>
</body>

</html>