<body>
    <div class="body-bg"></div>
    <div class="content">
        <div class="header">
            <img id="logo" src="../assets/images/white-logo.svg">
            <p class="header-text">ForThe<span class="header-text-bold">Content</span></p>
        </div>

        <div class="login-wrapper">
            <div class="login-items">
                <button id="discordAuth" class="btn btn-primary">Login via Discord</button>
            </div>
        </div>

        <div class="bottom">
            <p class="bottom-text">Not a server member?</p>
            <button id="discordJoin" class="btn btn-primary sml">Join us on Discord</button>
        </div>
    </div>
    <div class="footer">
        <a href="https://forthecontent.xyz/privacy" target="_blank">Privacy Policy</a>
    </div>
</body>