<body>
    <div id="dashboardFadeIn" class="dashboard">
        <div class="header">
            <p class="title">Settings</p>
            <img id="userAvatar" src="../assets/images/default-user.png">
        </div>

        <div class="flex-container-alt">
            <div class="container-content">
                <div class="settings-container">
                    <div class="settings-div">
                        <div class="settings-wrapper">
                            <div class="switch-wrapper">
                                <p class="switch-label">Notifications <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Receive a notification when you're eligible to submit a video"></i></p>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="notificationsSwitch">
                                </div>
                            </div>
                            <div id="notificationsAlt" class="notifications-alt">
                                <div class="switch-wrapper">
                                    <p class="switch-label">Discord <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Receive notifications via Discord"></i></p>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="discordSwitch">
                                    </div>
                                </div>
                                <div class="switch-wrapper">
                                    <p class="switch-label">Browser <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Receive notifications via browser"></i></p>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="browserSwitch">
                                    </div>
                                </div>
                            </div>

                            <div class="div-divider"></div>

                            <div class="switch-wrapper">
                                <p class="switch-label">Mute Queue Window <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Play videos with no sound"></i></p>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="muteQueueSwitch">
                                </div>
                            </div>

                            <div class="div-divider"></div>

                            <div class="switch-wrapper">
                                <p class="switch-label">Play Full Video <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Play videos for the full length"></i></p>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="playFullSwitch">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p id="extInfo" class="ext-info"></p>
                </div>
            </div>
        </div>



        <div class="nav-panel">
            <button id="addBtn" class="main-btn"><i class="bi bi-plus"></i></button>
            <div class="sub-buttons">
                <div class="sub-buttons-l">
                    <i id="dashboardNavBtn" class="bi bi bi-house-door nav-button"></i>
                    <i id="statisticsNavBtn" class="bi bi bi-bar-chart nav-button"></i>
                </div>
                <div class="sub-buttons-r">
                    <i id="settingsNavBtn" class="bi bi bi-gear nav-button active"></i>
                    <i id="logoutNavBtn" class="bi bi bi-door-closed nav-button logout-btn"></i>
                </div>
            </div>
        </div>
</body>