<body>
    <div id="dashboardFadeIn" class="dashboard">
        <div class="header">
            <p class="title">Settings</p>
            <div class="header-r">
                <span id="tokenCount" class="token-count">data.result.tokens <img class="token-img" src="../assets/images/tokens.png"></span>
                <img id="userAvatar" src="https://cdn.discordapp.com/avatars/data.result.userId/data.result.avatar.webp?size=256" onerror="this.src='../assets/images/default-avatar.png';">
            </div>
        </div>

        <div class="flex-container-alt">
            <div class="container-content settings-content">
                <div class="settings-container">
                    <div class="settings-div">
                        <div class="settings-wrapper">
                            <div class="switch-wrapper">
                                <p class="switch-label">Notifications <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Receive a notification when you're eligible to submit a video"></i></p>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="notificationsSwitch">
                                </div>
                            </div>
                            <div id="notificationsAlt" class="notifications-alt">
                                <div class="switch-wrapper">
                                    <p class="switch-label">Discord <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Receive notifications via Discord"></i></p>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="discordSwitch">
                                    </div>
                                </div>
                                <div class="switch-wrapper">
                                    <p class="switch-label">Browser <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Receive notifications via browser"></i></p>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="browserSwitch">
                                    </div>
                                </div>
                            </div>

                            <div class="div-divider"></div>

                            <div class="switch-wrapper">
                                <p class="switch-label">Mute Queue Window <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Play videos with no sound"></i></p>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="muteQueueSwitch">
                                </div>
                            </div>

                            <div class="div-divider"></div>

                            <div class="switch-wrapper-alt">
                                <p class="switch-label">Play Videos For <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Choose how long you would like to play videos for"></i></p>
                                <p id="rangeValue" class="range-value">10 minutes</p>
                                <input id="playLengthRange" type="range" class="form-range" min="1" max="6" step="1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p id="helpLink" class="text-link">Need help?</p>
        <p id="extInfo" class="ext-info"></p>

        <div class="input-container">
            <input id="submitInput" type="text" placeholder="Enter video URL or ID"></input>
        </div>
    </div>

    <div class="nav-panel">
        <button id="submitVideoBtn" class="main-btn"><i class="bi bi-plus"></i></button>
        <div class="sub-buttons">
            <div class="sub-buttons-l">
                <i id="dashboardNavBtn" class="bi bi bi-house-door nav-button"></i>
                <i id="statisticsNavBtn" class="bi bi bi-bar-chart nav-button"></i>
            </div>
            <div class="sub-buttons-r">
                <i id="settingsNavBtn" class="bi bi bi-gear nav-button active"></i>
                <i id="logoutNavBtn" class="bi bi bi-door-closed nav-button logout-btn"></i>
            </div>
        </div>
    </div>
</body>