<body>
    <div id="dashboardFadeIn" class="dashboard">
        <div class="header">
            <p class="title">Statistics</p>
            <img id="userAvatar" src="../assets/images/default-user.png">
        </div>

        <div class="flex-container-alt">
            <div class="container-content">
                <div class="stats-list">
                    <div class="stats-item">
                        <span>Submissions</span>
                        <span class="stats-number">3</span>
                    </div>
                    <div class="stats-item">
                        <span>Views</span>
                        <span class="stats-number">98</span>
                    </div>
                    <div class="stats-item">
                        <span>Likes</span>
                        <span class="stats-number">34</span>
                    </div>
                    <div class="stats-item">
                        <span>Videos Watched</span>
                        <span class="stats-number">247</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nav-panel">
        <button id="addBtn" class="main-btn"><i class="bi bi-plus"></i></button>
        <div class="sub-buttons">
            <div class="sub-buttons-l">
                <i id="dashboardNavBtn" class="bi bi bi-house-door nav-button"></i>
                <i id="statisticsNavBtn" class="bi bi bi-bar-chart nav-button active"></i>
            </div>
            <div class="sub-buttons-r">
                <i id="settingsNavBtn" class="bi bi bi-gear nav-button"></i>
                <i id="logoutNavBtn" class="bi bi bi-door-closed nav-button logout-btn"></i>
            </div>
        </div>
    </div>
</body>