<body>
    <div id="dashboardFadeIn" class="dashboard">
        <div class="header">
            <p class="title">Statistics</p>
            <div class="header-r">
                <span id="tokenCount" class="token-count">data.result.tokens <img class="token-img" src="../assets/images/tokens.png"></span>
                <img id="userAvatar" src="https://cdn.discordapp.com/avatars/data.result.userId/data.result.avatar.webp?size=256" onerror="this.src='../assets/images/default-avatar.png';">
            </div>
        </div>

        <div class="flex-container-alt">
            <div class="container-content stats-content">
                <div class="stats-list">
                    <div class="stats-item">
                        <span>Submissions</span>
                        <span id="submissionsCount" class="stats-number">data.result.submissions</span>
                    </div>
                    <div class="stats-item">
                        <span>Views</span>
                        <span id="viewsCount" class="stats-number">data.result.views</span>
                    </div>
                    <div class="stats-item">
                        <span>Likes</span>
                        <span id="likesCount" class="stats-number">data.result.likes</span>
                    </div>
                    <div class="stats-item">
                        <span>Videos Watched</span>
                        <span id="watchCount" class="stats-number">data.result.watches</span>
                    </div>
                    <div class="stats-item">
                        <span>Tokens Earned</span>
                        <span id="tokensEarnedCount" class="stats-number">data.result.earned</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="sub-header input-sub-header">
            <span id="submitVideo">Submit Video</span>
        </div>
        <div class="input-container">
            <input id="submitInput" type="text" placeholder="Enter video URL or ID"></input>
        </div>
    </div>

    <div class="nav-panel">
        <button id="submitVideoBtn" class="main-btn"><i class="bi bi-plus"></i></button>
        <div class="sub-buttons">
            <div class="sub-buttons-l">
                <i id="dashboardNavBtn" class="bi bi bi-house-door nav-button"></i>
                <i id="statisticsNavBtn" class="bi bi bi-bar-chart nav-button active"></i>
            </div>
            <div class="sub-buttons-r">
                <i id="settingsNavBtn" class="bi bi bi-gear nav-button"></i>
                <i id="logoutNavBtn" class="bi bi bi-door-closed nav-button logout-btn"></i>
            </div>
        </div>
    </div>
</body>