<body>
    <div id="dashboardFadeIn" class="dashboard">
        <div class="title">
            <p class="title-welcome">Your Statistics</p>
        </div>

        <div class="stats-box">
            <p class="stats-text">You have submitted <span class="stats-number">data.result.submissions</span> video(s) that have received <span class="stats-number">data.result.views</span> view(s) and <span class="stats-number">data.result.views</span> like(s)</p>
        </div>

        <div class="footer">
            <p id="input-error" class="input-error"></p>
            <input id="createInput" type="text" placeholder="Enter video ID"></input>
            <div id="returnBtn" class="footer-btn return">
                <i class="bi bi-arrow-left"></i>
            </div>

            <div id="currencyBlob" class="currency">
                <div class="blob">
                    <p id="tokenData" class="tokens-data">data.result.tokens</p> <img src="../assets/images/tokens.png">
                </div>
            </div>
        </div>
    </div>
</body>